<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorBabu"
        tools:targetApi="31">
        <activity
            android:name=".patient.PatientReview"
            android:exported="false">

        </activity>
        <activity
            android:name=".patient.CheckoutDoctor"
            android:exported="false" />
        <activity
            android:name=".patient.PatientCall"
            android:exported="false" />
        <activity
            android:name=".patient.CallDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.doctorAboutYou"
            android:exported="false" />
        <activity
            android:name=".patient.ChooseDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorSignup"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".LoginOptions"
            android:exported="false" />
        <activity
            android:name=".patient.EditProfile"
            android:exported="false" />
        <activity
            android:name=".patient.Dashboard"
            android:exported="false" />
        <activity
            android:name=".patient.SignUp"
            android:exported="false" />
        <activity
            android:name=".patient.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>