<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:directBootAware="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/doctorbabulogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/doctorbabulogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorBabu"
        tools:targetApi="tiramisu">
        <activity
            android:name=".patient.DoctorConsultationModule.DocumentUpload"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorAppointments"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.DoctorSearch"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.SpecificDoctorInfo"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.SeeAll"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.Checkout"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.SyrupDetails"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.Cart"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.TabletDetails"
            android:exported="false" />
        <activity
            android:name=".patient.MedicinePurchaseModules.MedicineShop"
            android:exported="false" />
        <activity
            android:name=".patient.HomeModules.PendingAppointment"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.BookAppointment"
            android:exported="false" />
        <activity
            android:name=".patient.DiagnoseReportUploadModule.DiagnosisReportUploadList"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".patient.AlarmModules.MedicineAlarmDestination"
            android:exported="false" />
        <activity
            android:name=".patient.AlarmModules.MedicineAlarm"
            android:exported="false"
            android:label="@string/title_activity_add_medicine_alarm"
            android:theme="@style/Theme.DoctorBabu" />
        <activity
            android:name=".patient.AlarmModules.MedicineReminder"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.predictedDisease"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.DiagnosisTerms"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.IdentifyDisease"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.ViewAllDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorPrescribeMedicine"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.PatientReview"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.CheckoutDoctor"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.PatientCall"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.CallDoctor"
            android:exported="false" />
        <activity
            android:name=".doctor.doctorAboutYou"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorSignup"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorLogin"
            android:exported="false" />
        <activity
            android:name=".patient.AuthenticationModule.LoginOptions"
            android:exported="false" />
        <activity
            android:name=".patient.PatientProfileModule.EditProfile"
            android:exported="false" />
        <activity
            android:name=".patient.DoctorConsultationModule.PatientBottomBar"
            android:exported="false" />
        <activity
            android:name=".patient.AuthenticationModule.SignUp"
            android:exported="false" />
        <activity
            android:name=".patient.AuthenticationModule.Login"
            android:exported="false" />
        <activity
            android:name=".patient.HomeModules.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".patient.AlarmModules.AlarmReceiver" />
        <receiver android:name=".patient.DoctorConsultationModule.AppointmentReceiver" />
        <receiver android:name=".patient.DoctorConsultationModule.AppointmentDeleter" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>